
{% extends "base.html" %}

{% block content %}
<div class="profiles-list">
  <header class="page-header d-flex">
    <h3 class="page-heading m-0">Requests</h3>
  </header>
  <hr>
  {% if totalRequests > 0 %}
    {% for requests in friendRequests %}
      <div class="card card-posts my-2">
        <div class="card-body d-flex">
          <div class="card-left">
            <p class="lead m-0">{{requests.name}}</p>
          </div>
          <div class="card-right">
            <a href="{% url 'friends:acceptfriend' %}?id={{requests.requested_user}}" class="btn btn-outline-primary">Accept</a>
            <a href="{% url 'friends:rejectfriend' %}?id={{requests.requested_user}}" class="btn btn-outline-primary">Reject</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
  <p class="lead text-muted">No friend requests found yet..</p>
  <header class="page-header d-flex">
    <h3 class="page-heading m-0">Explore</h3>
  </header>
  {% for profile in allUsers %}
    {% if profile.id != request.session.id %}
  <div class="card card-posts my-2">
    <div class="card-body d-flex">
      <div class="card-left">
        <p class="lead m-0">{{profile.name}}</p>
      </div>
      <div class="card-right">
        <a href="{% url 'friends:addfriend' %}?id={{profile.id}}" class="btn btn-outline-primary">Add friend</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
</div>
<script>
$(".exploreFriends").addClass('active')
</script>
{% endblock content %}